* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
.number{
    background-color:darkgray;
    width: 95px;
    height: 95px;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 20%;
    font-size: 55px;
    grid: 150px / auto auto auto;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}
#zero{
    width:195px;
    border-radius: 15px;
}
#calcmain{
    display:block;
margin-top: 15px;    
        
      
}
.operator{
    background-color:grey;
    width: 95px;
    height: 95px;
    font-size: 55px;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 20%; 
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;   
}
.eraser{
    background-color:rgb(129, 12, 12);
    width: 95px;
    height: 95px;
    font-size: 55px;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 20%; 
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px; 
}
.result{
    border:3px solid black;
    color:black;
    background-color: aquamarine;
    width: 400px;
    height: 80px;
    position: relative;
    font-size: 54px;
    border-radius: 14px;
    text-align: right;
    justify-content: flex-start;
    margin:auto;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.bodycalc{

    width:405px;
    height:487px;
    background-color: bisque;
    border:1px solid black;
    border-radius:20px;
    justify-content: space-around;
    position: relative;
    margin:auto; 
}
.base{
    margin:auto;
    background-image: url("https://pixabay.com/get/57e0d2454f51af14f6d1867dda6d49214b6ac3e456577940742978d093/code-1076533_1920.jpg");
    opacity:0.95;

}
#resultbut{
    background-color: rgb(21, 82, 173);
    color:white
}
#buttcont{
    margin-left:1px;
}